extends layout

block content
  .container-fluid
    .row.align-items-center.justify-content-center
      .item-video.col-sm-
        video(src="./images/mp4/title.mp4" autoplay loop muted)
      .item-text-title.col-sm-.text-center
        h2= title
        p - #{subtitle} -
      .item-text-manual.col-sm-.align-middle.small.text-muted
        p パーティゲーム「人狼(ワンナイトルール)」をPCブラウザで楽しむページです。<br>(動作確認:クロームのみ)
    .row.align-items-end.justify-content-center
      .item-char-area
        if database_data
          img(src=`./images/cha/${database_data.picURL}`)#cha
          span.userName #{database_data.username}
        else
          span.userName ななしの村人
      .item-name-input-area
        p 名前の変更
        p
          input(name="username", cols="10", rows="1" placeholder="名前を入力してください。").inputarea#input-name
          small.text-mutedr ※10文字まで。
        p
          small.text-mutedr#error-div
        if database_data
          #Button_change_userName(
            data-user-id=database_data.userId
            ) 変更
        else 
          #Button_change_userName(
            data-user-id=userId
            ) 変更

        p
          small.text-muted 周りの人を不快にする名前は控えましょう。
      .item-text-manual.col-sm-.align-middle
        p 
          small.text-muted = 諸注意 = <br>このページはtrackingCookieを利用しています。<br>セキュリティソフト等のクリーンアップや、ブラウザの履歴を消去などをした場合、情報が消えてしまうのでご了承ください。