extends layout

block content
  #background-css-setting
    p #{room_data.roomId}
    p #{room_data.roomMemo}
    p #{room_data.inRoomNow}
    p #{room_data.createdBy}
    p #{room_data.userName}
  script#room-data(defer, src="/javascripts/entry_room.bundle.js",
  data-roomId=`${room_data.roomId}`,
  data-roomMemo=`${room_data.roomMemo}`,
  data-inRoomNow=`${room_data.inRoomNow}`,
  data-createdBy=`${room_data.createdBy}`,
  data-userName=`${room_data.userName}`
  )